<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room chat</title>
</head>
<body>
    
    <h1>Chat</h1>
    
    <ul id="usersElement"></ul>
    <input id="usernameElement" type="text">
    <textarea id="messageElement"></textarea>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <script src="./app.js"></script>
</body>
</html>